In [1]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films'
tables = pd.read_html(url) 
tables[0]

,Film,Year,Awards,Nominations
0,CODA,2021,3,3
1,Dune,2021,6,10
2,The Eyes of Tammy Faye,2021,2,2
3,No Time to Die,2021,1,3
4,The Windshield Wiper,2021,1,1
...,...,...,...,...
1342,The Yankee Doodle Mouse,1943,1,1
1343,The Yearling,1946,2,7
1344,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1
1345,You Can't Take It with You,1938,2,7
1346,Zorba the Greek (Alexis Zorbas),1964,3,7

In [4]:
oscars_df = tables[0]

In [5]:
oscars_df

,Film,Year,Awards,Nominations
0,CODA,2021,3,3
1,Dune,2021,6,10
2,The Eyes of Tammy Faye,2021,2,2
3,No Time to Die,2021,1,3
4,The Windshield Wiper,2021,1,1
...,...,...,...,...
1342,The Yankee Doodle Mouse,1943,1,1
1343,The Yearling,1946,2,7
1344,"Yesterday, Today and Tomorrow (Ieri, oggi, dom...",1964,1,1
1345,You Can't Take It with You,1938,2,7
1346,Zorba the Greek (Alexis Zorbas),1964,3,7

In [6]:
# exporting raw dataframe
oscars_df.to_csv('oscars_raw_data.csv', index=False)